body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:886px;
    top:9px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../MBGN_Backend_Master_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:4px;
    top:109px;
    width:1002px;
    height:4px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1008px;
    height:10px;
}

.u2 {
    position:absolute;
    left:2px;
    top:-6px;
    width:998px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../MBGN_Backend_Master_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:4px;
    top:114px;
    width:183px;
    height:39px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:45px;
}

.u4 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:7px;
    top:125px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../MBGN_Backend_Master_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:-30px;
    top:1399px;
    width:1050px;
    height:194px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1056px;
    height:200px;
}

.u7 {
    position:absolute;
    left:2px;
    top:89px;
    width:1046px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:24px;
    top:1417px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:874px;
    top:9px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_menu {
    background-image: url('../MBGN_Backend_Master_files/u10_menu.png');
}

.u10_menu {
    position:absolute;
    left:1px;
    top:148px;
    width:192px;
    height:75px;
}

#u10_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:72px;
}

#u11 {
    position:absolute;
    left:3px;
    top:3px;
    width:182px;
    height:65px
}

.u12_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:20px;
    width:177px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:40px;
    width:177px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../MBGN_Backend_Master_files/u3_normal.png');
}

.u18_container {
    position:absolute;
    left:4px;
    top:217px;
    width:183px;
    height:39px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:45px;
}

.u19 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:7px;
    top:228px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_menu {
    background-image: url('../MBGN_Backend_Master_files/u21_menu.png');
}

.u21_menu {
    position:absolute;
    left:1px;
    top:251px;
    width:192px;
    height:75px;
}

#u21_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:72px;
}

#u22 {
    position:absolute;
    left:3px;
    top:3px;
    width:182px;
    height:65px
}

.u23_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:20px;
    width:177px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:40px;
    width:177px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../MBGN_Backend_Master_files/u3_normal.png');
}

.u29_container {
    position:absolute;
    left:4px;
    top:320px;
    width:183px;
    height:39px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:45px;
}

.u30 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:7px;
    top:331px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_menu {
    background-image: url('../MBGN_Backend_Master_files/u32_menu.png');
}

.u32_menu {
    position:absolute;
    left:1px;
    top:354px;
    width:192px;
    height:75px;
}

#u32_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:72px;
}

#u33 {
    position:absolute;
    left:3px;
    top:3px;
    width:182px;
    height:65px
}

.u34_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:20px;
    width:177px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:40px;
    width:177px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../MBGN_Backend_Master_files/u3_normal.png');
}

.u40_container {
    position:absolute;
    left:4px;
    top:433px;
    width:183px;
    height:39px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:45px;
}

.u41 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:7px;
    top:444px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_menu {
    background-image: url('../MBGN_Backend_Master_files/u43_menu.png');
}

.u43_menu {
    position:absolute;
    left:1px;
    top:467px;
    width:192px;
    height:75px;
}

#u43_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:72px;
}

#u44 {
    position:absolute;
    left:3px;
    top:3px;
    width:182px;
    height:65px
}

.u45_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:20px;
    width:177px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:40px;
    width:177px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../MBGN_Backend_Master_files/u3_normal.png');
}

.u51_container {
    position:absolute;
    left:4px;
    top:536px;
    width:183px;
    height:39px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:45px;
}

.u52 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:7px;
    top:547px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_menu {
    background-image: url('../MBGN_Backend_Master_files/u54_menu.png');
}

.u54_menu {
    position:absolute;
    left:1px;
    top:570px;
    width:192px;
    height:75px;
}

#u54_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:72px;
}

#u55 {
    position:absolute;
    left:3px;
    top:3px;
    width:182px;
    height:65px
}

.u56_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:20px;
    width:177px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:40px;
    width:177px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../1_1_1_Them_m_i_nhom_KH_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:197px;
    top:123px;
    width:809px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:815px;
    height:36px;
}

.u64 {
    position:absolute;
    left:2px;
    top:7px;
    width:805px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:212px;
    top:132px;
    width:212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:217px;
    top:280px;
    width:100px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:341px;
    top:210px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:217px;
    top:176px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:217px;
    top:213px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:327px;
    top:280px;
    width:100px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

