* html .u1_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u1_normal.png");
}

* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u3_normal.png");
}

* html .u6_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u6_normal.png");
}

* html .u10_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u10_menu.png");
}

* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u14_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u3_normal.png");
}

* html .u21_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u21_menu.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u25_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u3_normal.png");
}

* html .u32_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u32_menu.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u3_normal.png");
}

* html .u43_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u43_menu.png");
}

* html .u45_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u47_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u49_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u51_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u3_normal.png");
}

* html .u54_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u54_menu.png");
}

* html .u56_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u58_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u60_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u63_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Xem_chi_ti_t_nh_p_kho_files/u63_normal.png");
}

* html .u70_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Xem_chi_ti_t_nh_p_kho_files/u70_normal.png");
}

* html .u72_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Xem_chi_ti_t_nh_p_kho_files/u72_normal.png");
}

* html .u74_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Xem_chi_ti_t_nh_p_kho_files/u74_normal.png");
}

* html .u76_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Xem_chi_ti_t_nh_p_kho_files/u70_normal.png");
}

* html .u78_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Xem_chi_ti_t_nh_p_kho_files/u72_normal.png");
}

* html .u80_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Xem_chi_ti_t_nh_p_kho_files/u74_normal.png");
}

* html .u82_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Xem_chi_ti_t_nh_p_kho_files/u70_normal.png");
}

* html .u84_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Xem_chi_ti_t_nh_p_kho_files/u72_normal.png");
}

* html .u86_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Xem_chi_ti_t_nh_p_kho_files/u74_normal.png");
}

* html .u88_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Xem_chi_ti_t_nh_p_kho_files/u70_normal.png");
}

* html .u90_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Xem_chi_ti_t_nh_p_kho_files/u72_normal.png");
}

* html .u92_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Xem_chi_ti_t_nh_p_kho_files/u74_normal.png");
}

* html .u95_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Xem_chi_ti_t_nh_p_kho_files/u95_normal.png");
}

