* html .u1_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u1_normal.png");
}

* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u3_normal.png");
}

* html .u6_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u6_normal.png");
}

* html .u10_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u10_menu.png");
}

* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u14_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u3_normal.png");
}

* html .u21_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u21_menu.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u25_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u3_normal.png");
}

* html .u32_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u32_menu.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u3_normal.png");
}

* html .u43_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u43_menu.png");
}

* html .u45_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u47_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u49_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u51_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u3_normal.png");
}

* html .u54_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u54_menu.png");
}

* html .u56_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u58_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u60_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MBGN_Backend_Master_files/u12_normal.png");
}

* html .u66_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kh_p_thong_tin_thanh_toan_files/u66_normal.png");
}

* html .u81_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kh_p_thong_tin_thanh_toan_files/u81_normal.png");
}

