body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:886px;
    top:9px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../MBGN_Backend_Master_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:4px;
    top:109px;
    width:1002px;
    height:4px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1008px;
    height:10px;
}

.u2 {
    position:absolute;
    left:2px;
    top:-6px;
    width:998px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../MBGN_Backend_Master_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:4px;
    top:114px;
    width:183px;
    height:39px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:45px;
}

.u4 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:7px;
    top:125px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../MBGN_Backend_Master_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:-35px;
    top:1453px;
    width:1037px;
    height:194px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1043px;
    height:200px;
}

.u7 {
    position:absolute;
    left:2px;
    top:89px;
    width:1033px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:57px;
    top:1482px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:304px;
    top:1482px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:533px;
    top:1482px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:745px;
    top:1482px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:874px;
    top:9px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_menu {
    background-image: url('../MBGN_Backend_Master_files/u13_menu.png');
}

.u13_menu {
    position:absolute;
    left:1px;
    top:148px;
    width:192px;
    height:75px;
}

#u13_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:72px;
}

#u14 {
    position:absolute;
    left:3px;
    top:3px;
    width:182px;
    height:65px
}

.u15_normal {
    background-image: url('../MBGN_Backend_Master_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../MBGN_Backend_Master_files/u15_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:20px;
    width:177px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../MBGN_Backend_Master_files/u15_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:40px;
    width:177px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../MBGN_Backend_Master_files/u3_normal.png');
}

.u21_container {
    position:absolute;
    left:4px;
    top:217px;
    width:183px;
    height:39px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:45px;
}

.u22 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:7px;
    top:228px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_menu {
    background-image: url('../MBGN_Backend_Master_files/u24_menu.png');
}

.u24_menu {
    position:absolute;
    left:1px;
    top:251px;
    width:192px;
    height:75px;
}

#u24_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:72px;
}

#u25 {
    position:absolute;
    left:3px;
    top:3px;
    width:182px;
    height:65px
}

.u26_normal {
    background-image: url('../MBGN_Backend_Master_files/u15_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../MBGN_Backend_Master_files/u15_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:20px;
    width:177px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../MBGN_Backend_Master_files/u15_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:40px;
    width:177px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../MBGN_Backend_Master_files/u3_normal.png');
}

.u32_container {
    position:absolute;
    left:4px;
    top:320px;
    width:183px;
    height:39px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:45px;
}

.u33 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:7px;
    top:331px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_menu {
    background-image: url('../MBGN_Backend_Master_files/u35_menu.png');
}

.u35_menu {
    position:absolute;
    left:1px;
    top:354px;
    width:192px;
    height:75px;
}

#u35_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:72px;
}

#u36 {
    position:absolute;
    left:3px;
    top:3px;
    width:182px;
    height:65px
}

.u37_normal {
    background-image: url('../MBGN_Backend_Master_files/u15_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../MBGN_Backend_Master_files/u15_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:20px;
    width:177px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../MBGN_Backend_Master_files/u15_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:40px;
    width:177px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../MBGN_Backend_Master_files/u3_normal.png');
}

.u43_container {
    position:absolute;
    left:4px;
    top:433px;
    width:183px;
    height:39px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:45px;
}

.u44 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:7px;
    top:444px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_menu {
    background-image: url('../MBGN_Backend_Master_files/u46_menu.png');
}

.u46_menu {
    position:absolute;
    left:1px;
    top:467px;
    width:192px;
    height:75px;
}

#u46_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:72px;
}

#u47 {
    position:absolute;
    left:3px;
    top:3px;
    width:182px;
    height:65px
}

.u48_normal {
    background-image: url('../MBGN_Backend_Master_files/u15_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../MBGN_Backend_Master_files/u15_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:20px;
    width:177px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../MBGN_Backend_Master_files/u15_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:40px;
    width:177px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../MBGN_Backend_Master_files/u3_normal.png');
}

.u54_container {
    position:absolute;
    left:4px;
    top:536px;
    width:183px;
    height:39px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:45px;
}

.u55 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:7px;
    top:547px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_menu {
    background-image: url('../MBGN_Backend_Master_files/u57_menu.png');
}

.u57_menu {
    position:absolute;
    left:1px;
    top:570px;
    width:192px;
    height:75px;
}

#u57_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:72px;
}

#u58 {
    position:absolute;
    left:3px;
    top:3px;
    width:182px;
    height:65px
}

.u59_normal {
    background-image: url('../MBGN_Backend_Master_files/u15_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../MBGN_Backend_Master_files/u15_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:20px;
    width:177px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../MBGN_Backend_Master_files/u15_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:40px;
    width:177px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:217px;
    top:176px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:197px;
    top:123px;
    width:809px;
    height:30px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:815px;
    height:36px;
}

.u68 {
    position:absolute;
    left:2px;
    top:7px;
    width:805px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:212px;
    top:132px;
    width:212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u70 {
    position:absolute;
    left:217px;
    top:428px;
    width:833px;
    height:211px
}

.u71_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:36px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u72 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:50px;
    top:0px;
    width:120px;
    height:36px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:42px;
}

.u74 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:170px;
    top:0px;
    width:100px;
    height:36px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u76 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:270px;
    top:0px;
    width:83px;
    height:36px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:42px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:354px;
    top:0px;
    width:92px;
    height:36px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:42px;
}

.u80 {
    position:absolute;
    left:2px;
    top:10px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u75_normal.png');
}

.u81_container {
    position:absolute;
    left:446px;
    top:0px;
    width:100px;
    height:36px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u82 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u75_normal.png');
}

.u83_container {
    position:absolute;
    left:546px;
    top:0px;
    width:100px;
    height:36px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u84 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u75_normal.png');
}

.u85_container {
    position:absolute;
    left:646px;
    top:0px;
    width:100px;
    height:36px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:746px;
    top:0px;
    width:82px;
    height:36px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:42px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:78px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:36px;
    width:50px;
    height:52px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:58px;
}

.u90 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:50px;
    top:36px;
    width:120px;
    height:52px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:58px;
}

.u92 {
    position:absolute;
    left:2px;
    top:18px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:170px;
    top:36px;
    width:100px;
    height:52px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u94 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:270px;
    top:36px;
    width:83px;
    height:52px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:58px;
}

.u96 {
    position:absolute;
    left:2px;
    top:18px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:354px;
    top:36px;
    width:92px;
    height:52px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:58px;
}

.u98 {
    position:absolute;
    left:2px;
    top:18px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u93_normal.png');
}

.u99_container {
    position:absolute;
    left:446px;
    top:36px;
    width:100px;
    height:52px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u100 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u93_normal.png');
}

.u101_container {
    position:absolute;
    left:546px;
    top:36px;
    width:100px;
    height:52px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u102 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u93_normal.png');
}

.u103_container {
    position:absolute;
    left:646px;
    top:36px;
    width:100px;
    height:52px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u104 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:746px;
    top:36px;
    width:82px;
    height:52px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:58px;
}

.u106 {
    position:absolute;
    left:2px;
    top:18px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u89_normal.png');
}

.u107_container {
    position:absolute;
    left:0px;
    top:88px;
    width:50px;
    height:52px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:58px;
}

.u108 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u91_normal.png');
}

.u109_container {
    position:absolute;
    left:50px;
    top:88px;
    width:120px;
    height:52px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:58px;
}

.u110 {
    position:absolute;
    left:2px;
    top:18px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u93_normal.png');
}

.u111_container {
    position:absolute;
    left:170px;
    top:88px;
    width:100px;
    height:52px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u112 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u95_normal.png');
}

.u113_container {
    position:absolute;
    left:270px;
    top:88px;
    width:83px;
    height:52px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:58px;
}

.u114 {
    position:absolute;
    left:2px;
    top:18px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u97_normal.png');
}

.u115_container {
    position:absolute;
    left:354px;
    top:88px;
    width:92px;
    height:52px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:58px;
}

.u116 {
    position:absolute;
    left:2px;
    top:18px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u93_normal.png');
}

.u117_container {
    position:absolute;
    left:446px;
    top:88px;
    width:100px;
    height:52px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u118 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u93_normal.png');
}

.u119_container {
    position:absolute;
    left:546px;
    top:88px;
    width:100px;
    height:52px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u120 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u93_normal.png');
}

.u121_container {
    position:absolute;
    left:646px;
    top:88px;
    width:100px;
    height:52px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u122 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u105_normal.png');
}

.u123_container {
    position:absolute;
    left:746px;
    top:88px;
    width:82px;
    height:52px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:58px;
}

.u124 {
    position:absolute;
    left:2px;
    top:18px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u71_normal.png');
}

.u125_container {
    position:absolute;
    left:0px;
    top:140px;
    width:50px;
    height:36px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u126 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u73_normal.png');
}

.u127_container {
    position:absolute;
    left:50px;
    top:140px;
    width:120px;
    height:36px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:42px;
}

.u128 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u75_normal.png');
}

.u129_container {
    position:absolute;
    left:170px;
    top:140px;
    width:100px;
    height:36px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u130 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u77_normal.png');
}

.u131_container {
    position:absolute;
    left:270px;
    top:140px;
    width:83px;
    height:36px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:42px;
}

.u132 {
    position:absolute;
    left:2px;
    top:10px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u79_normal.png');
}

.u133_container {
    position:absolute;
    left:354px;
    top:140px;
    width:92px;
    height:36px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:42px;
}

.u134 {
    position:absolute;
    left:2px;
    top:10px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u75_normal.png');
}

.u135_container {
    position:absolute;
    left:446px;
    top:140px;
    width:100px;
    height:36px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u136 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u75_normal.png');
}

.u137_container {
    position:absolute;
    left:546px;
    top:140px;
    width:100px;
    height:36px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u138 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u75_normal.png');
}

.u139_container {
    position:absolute;
    left:646px;
    top:140px;
    width:100px;
    height:36px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u140 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u87_normal.png');
}

.u141_container {
    position:absolute;
    left:746px;
    top:140px;
    width:82px;
    height:36px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:42px;
}

.u142 {
    position:absolute;
    left:2px;
    top:10px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u143_normal.png');
}

.u143_container {
    position:absolute;
    left:0px;
    top:176px;
    width:50px;
    height:30px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u144 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u145_normal.png');
}

.u145_container {
    position:absolute;
    left:50px;
    top:176px;
    width:120px;
    height:30px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:36px;
}

.u146 {
    position:absolute;
    left:2px;
    top:7px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u147_normal.png');
}

.u147_container {
    position:absolute;
    left:170px;
    top:176px;
    width:100px;
    height:30px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u148 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u149_normal.png');
}

.u149_container {
    position:absolute;
    left:270px;
    top:176px;
    width:83px;
    height:30px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:36px;
}

.u150 {
    position:absolute;
    left:2px;
    top:7px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u151_normal.png');
}

.u151_container {
    position:absolute;
    left:354px;
    top:176px;
    width:92px;
    height:30px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:36px;
}

.u152 {
    position:absolute;
    left:2px;
    top:7px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u147_normal.png');
}

.u153_container {
    position:absolute;
    left:446px;
    top:176px;
    width:100px;
    height:30px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u154 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u147_normal.png');
}

.u155_container {
    position:absolute;
    left:546px;
    top:176px;
    width:100px;
    height:30px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u156 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u147_normal.png');
}

.u157_container {
    position:absolute;
    left:646px;
    top:176px;
    width:100px;
    height:30px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u158 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../Thoi_doi_c_p_nh_t___n_hang_NN_files/u159_normal.png');
}

.u159_container {
    position:absolute;
    left:746px;
    top:176px;
    width:82px;
    height:30px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:36px;
}

.u160 {
    position:absolute;
    left:2px;
    top:7px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:217px;
    top:644px;
    width:100px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u162 {
    position:absolute;
    left:217px;
    top:380px;
    width:100px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u163 {
    position:absolute;
    left:341px;
    top:211px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u164 {
    position:absolute;
    left:217px;
    top:214px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:341px;
    top:278px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u166 {
    position:absolute;
    left:217px;
    top:281px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:341px;
    top:313px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u168 {
    position:absolute;
    left:217px;
    top:316px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:548px;
    top:211px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:672px;
    top:208px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u171 {
    position:absolute;
    left:548px;
    top:243px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:672px;
    top:240px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u173 {
    position:absolute;
    left:341px;
    top:240px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u174 {
    position:absolute;
    left:217px;
    top:243px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

