body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:886px;
    top:9px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../MBGN_Backend_Master_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:4px;
    top:109px;
    width:1002px;
    height:4px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1008px;
    height:10px;
}

.u2 {
    position:absolute;
    left:2px;
    top:-6px;
    width:998px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../MBGN_Backend_Master_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:4px;
    top:114px;
    width:183px;
    height:39px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:45px;
}

.u4 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:7px;
    top:125px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../MBGN_Backend_Master_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:-30px;
    top:1399px;
    width:1050px;
    height:194px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1056px;
    height:200px;
}

.u7 {
    position:absolute;
    left:2px;
    top:89px;
    width:1046px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:24px;
    top:1417px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:874px;
    top:9px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_menu {
    background-image: url('../MBGN_Backend_Master_files/u10_menu.png');
}

.u10_menu {
    position:absolute;
    left:1px;
    top:148px;
    width:192px;
    height:75px;
}

#u10_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:72px;
}

#u11 {
    position:absolute;
    left:3px;
    top:3px;
    width:182px;
    height:65px
}

.u12_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:20px;
    width:177px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:40px;
    width:177px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../MBGN_Backend_Master_files/u3_normal.png');
}

.u18_container {
    position:absolute;
    left:4px;
    top:217px;
    width:183px;
    height:39px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:45px;
}

.u19 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:7px;
    top:228px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_menu {
    background-image: url('../MBGN_Backend_Master_files/u21_menu.png');
}

.u21_menu {
    position:absolute;
    left:1px;
    top:251px;
    width:192px;
    height:75px;
}

#u21_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:72px;
}

#u22 {
    position:absolute;
    left:3px;
    top:3px;
    width:182px;
    height:65px
}

.u23_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:20px;
    width:177px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:40px;
    width:177px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../MBGN_Backend_Master_files/u3_normal.png');
}

.u29_container {
    position:absolute;
    left:4px;
    top:320px;
    width:183px;
    height:39px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:45px;
}

.u30 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:7px;
    top:331px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_menu {
    background-image: url('../MBGN_Backend_Master_files/u32_menu.png');
}

.u32_menu {
    position:absolute;
    left:1px;
    top:354px;
    width:192px;
    height:75px;
}

#u32_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:72px;
}

#u33 {
    position:absolute;
    left:3px;
    top:3px;
    width:182px;
    height:65px
}

.u34_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:20px;
    width:177px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:40px;
    width:177px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../MBGN_Backend_Master_files/u3_normal.png');
}

.u40_container {
    position:absolute;
    left:4px;
    top:433px;
    width:183px;
    height:39px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:45px;
}

.u41 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:7px;
    top:444px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_menu {
    background-image: url('../MBGN_Backend_Master_files/u43_menu.png');
}

.u43_menu {
    position:absolute;
    left:1px;
    top:467px;
    width:192px;
    height:75px;
}

#u43_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:72px;
}

#u44 {
    position:absolute;
    left:3px;
    top:3px;
    width:182px;
    height:65px
}

.u45_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:20px;
    width:177px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:40px;
    width:177px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../MBGN_Backend_Master_files/u3_normal.png');
}

.u51_container {
    position:absolute;
    left:4px;
    top:536px;
    width:183px;
    height:39px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:45px;
}

.u52 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:7px;
    top:547px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_menu {
    background-image: url('../MBGN_Backend_Master_files/u54_menu.png');
}

.u54_menu {
    position:absolute;
    left:1px;
    top:570px;
    width:192px;
    height:75px;
}

#u54_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:72px;
}

#u55 {
    position:absolute;
    left:3px;
    top:3px;
    width:182px;
    height:65px
}

.u56_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:20px;
    width:177px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../MBGN_Backend_Master_files/u12_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:40px;
    width:177px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:217px;
    top:176px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:197px;
    top:123px;
    width:809px;
    height:30px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:815px;
    height:36px;
}

.u65 {
    position:absolute;
    left:2px;
    top:7px;
    width:805px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:212px;
    top:132px;
    width:212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u67 {
    position:absolute;
    left:217px;
    top:394px;
    width:801px;
    height:195px
}

.u68_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:36px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u69 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:50px;
    top:0px;
    width:120px;
    height:36px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:42px;
}

.u71 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u70_normal.png');
}

.u72_container {
    position:absolute;
    left:170px;
    top:0px;
    width:120px;
    height:36px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:42px;
}

.u73 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:290px;
    top:0px;
    width:83px;
    height:36px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:42px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:374px;
    top:0px;
    width:92px;
    height:36px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:42px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:88px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:466px;
    top:0px;
    width:100px;
    height:36px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u79 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:566px;
    top:0px;
    width:80px;
    height:36px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u81 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:646px;
    top:0px;
    width:150px;
    height:36px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:42px;
}

.u83 {
    position:absolute;
    left:2px;
    top:10px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u68_normal.png');
}

.u84_container {
    position:absolute;
    left:0px;
    top:36px;
    width:50px;
    height:36px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u85 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u70_normal.png');
}

.u86_container {
    position:absolute;
    left:50px;
    top:36px;
    width:120px;
    height:36px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:42px;
}

.u87 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u70_normal.png');
}

.u88_container {
    position:absolute;
    left:170px;
    top:36px;
    width:120px;
    height:36px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:42px;
}

.u89 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u74_normal.png');
}

.u90_container {
    position:absolute;
    left:290px;
    top:36px;
    width:83px;
    height:36px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:42px;
}

.u91 {
    position:absolute;
    left:2px;
    top:10px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u76_normal.png');
}

.u92_container {
    position:absolute;
    left:374px;
    top:36px;
    width:92px;
    height:36px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:42px;
}

.u93 {
    position:absolute;
    left:2px;
    top:10px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u78_normal.png');
}

.u94_container {
    position:absolute;
    left:466px;
    top:36px;
    width:100px;
    height:36px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u95 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u80_normal.png');
}

.u96_container {
    position:absolute;
    left:566px;
    top:36px;
    width:80px;
    height:36px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u97 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u82_normal.png');
}

.u98_container {
    position:absolute;
    left:646px;
    top:36px;
    width:150px;
    height:36px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:42px;
}

.u99 {
    position:absolute;
    left:2px;
    top:10px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u100_normal.png');
}

.u100_container {
    position:absolute;
    left:0px;
    top:72px;
    width:50px;
    height:52px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:58px;
}

.u101 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:50px;
    top:72px;
    width:120px;
    height:52px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:58px;
}

.u103 {
    position:absolute;
    left:2px;
    top:18px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u102_normal.png');
}

.u104_container {
    position:absolute;
    left:170px;
    top:72px;
    width:120px;
    height:52px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:58px;
}

.u105 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:290px;
    top:72px;
    width:83px;
    height:52px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:58px;
}

.u107 {
    position:absolute;
    left:2px;
    top:18px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u108_normal.png');
}

.u108_container {
    position:absolute;
    left:374px;
    top:72px;
    width:92px;
    height:52px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:58px;
}

.u109 {
    position:absolute;
    left:2px;
    top:18px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u110_normal.png');
}

.u110_container {
    position:absolute;
    left:466px;
    top:72px;
    width:100px;
    height:52px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u111 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:566px;
    top:72px;
    width:80px;
    height:52px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:58px;
}

.u113 {
    position:absolute;
    left:2px;
    top:18px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u114_normal.png');
}

.u114_container {
    position:absolute;
    left:646px;
    top:72px;
    width:150px;
    height:52px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:58px;
}

.u115 {
    position:absolute;
    left:2px;
    top:18px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u68_normal.png');
}

.u116_container {
    position:absolute;
    left:0px;
    top:124px;
    width:50px;
    height:36px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u117 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u70_normal.png');
}

.u118_container {
    position:absolute;
    left:50px;
    top:124px;
    width:120px;
    height:36px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:42px;
}

.u119 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u70_normal.png');
}

.u120_container {
    position:absolute;
    left:170px;
    top:124px;
    width:120px;
    height:36px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:42px;
}

.u121 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u74_normal.png');
}

.u122_container {
    position:absolute;
    left:290px;
    top:124px;
    width:83px;
    height:36px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:42px;
}

.u123 {
    position:absolute;
    left:2px;
    top:10px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u76_normal.png');
}

.u124_container {
    position:absolute;
    left:374px;
    top:124px;
    width:92px;
    height:36px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:42px;
}

.u125 {
    position:absolute;
    left:2px;
    top:10px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u78_normal.png');
}

.u126_container {
    position:absolute;
    left:466px;
    top:124px;
    width:100px;
    height:36px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u127 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u80_normal.png');
}

.u128_container {
    position:absolute;
    left:566px;
    top:124px;
    width:80px;
    height:36px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u129 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u82_normal.png');
}

.u130_container {
    position:absolute;
    left:646px;
    top:124px;
    width:150px;
    height:36px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:42px;
}

.u131 {
    position:absolute;
    left:2px;
    top:10px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u132_normal.png');
}

.u132_container {
    position:absolute;
    left:0px;
    top:160px;
    width:50px;
    height:30px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u133 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u134_normal.png');
}

.u134_container {
    position:absolute;
    left:50px;
    top:160px;
    width:120px;
    height:30px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:36px;
}

.u135 {
    position:absolute;
    left:2px;
    top:7px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u134_normal.png');
}

.u136_container {
    position:absolute;
    left:170px;
    top:160px;
    width:120px;
    height:30px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:36px;
}

.u137 {
    position:absolute;
    left:2px;
    top:7px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:290px;
    top:160px;
    width:83px;
    height:30px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:36px;
}

.u139 {
    position:absolute;
    left:2px;
    top:7px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:374px;
    top:160px;
    width:92px;
    height:30px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:36px;
}

.u141 {
    position:absolute;
    left:2px;
    top:7px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u142_normal.png');
}

.u142_container {
    position:absolute;
    left:466px;
    top:160px;
    width:100px;
    height:30px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u143 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u144_normal.png');
}

.u144_container {
    position:absolute;
    left:566px;
    top:160px;
    width:80px;
    height:30px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u145 {
    position:absolute;
    left:2px;
    top:7px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../Qu_n_ly_thanh_toan_files/u146_normal.png');
}

.u146_container {
    position:absolute;
    left:646px;
    top:160px;
    width:150px;
    height:30px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:36px;
}

.u147 {
    position:absolute;
    left:2px;
    top:7px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:217px;
    top:610px;
    width:100px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u149 {
    position:absolute;
    left:217px;
    top:346px;
    width:100px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u150 {
    position:absolute;
    left:351px;
    top:211px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u151 {
    position:absolute;
    left:217px;
    top:214px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:351px;
    top:276px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u153 {
    position:absolute;
    left:217px;
    top:279px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:351px;
    top:311px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u155 {
    position:absolute;
    left:217px;
    top:314px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:327px;
    top:346px;
    width:173px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u157 {
    position:absolute;
    left:217px;
    top:243px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:351px;
    top:244px;
    width:170px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

